Adds a way to lock arbitrary drupal routes to selected workspaces. One example is to lock all the taxonomy pages to the Live workspace so that the categories are always the same.

<h4>Usage</h4>
Define the locks at <code>/admin/config/workflow/workspaces/route_lock</code>.
